.fare.summary
	%h2 Final Summary
	%h3 Thanks for booking with Zen Travel! You will receive an e-mail confirmation shortly.
	%div
		%p Sun., Dec. 1, 2013
		%p ORD 5:30am > FLL 9:32am | 3h02m NONSTOP
	%div
		%p Fri., Dec. 6, 2013
		%p FLL 5:30pm > ORD 7:40pm | 3h10m NONSTOP
	%div
		%p Total: $199.00