.breadcrumbs
	%hr
	%h2 FLIGHTS > SEARCH RESULTS Sort by:
	%select{name: "filter"}
		%option{title: "sortby", value: "----"} ----
		%option{value: "airline"} Airline
		%option{value: "price"} Price
	%hr
.results
	.listing
		.details
			.logo-container.flight-logo
				.company-name
					Lufthansa
				%img.logo{src: "./images/Lufthansa2.png"}
				.price
					$199
			.booking-holder
				.booking-details
					%p Sun., Dec. 1, 2013
					%p ORD 5:30am > FLL 9:32am | 3h02m NONSTOP
				.booking-details
					%p Fri., Dec. 6, 2013
					%p FLL 5:30pm > ORD 7:40pm | 3h10m NONSTOP
			%a{href: "./flightreservation"}
				.select-link  
					SELECT FLIGHT
	%hr
	.listing
		.details
			.logo-container.flight-logo
				.company-name
					Lufthansa
				%img.logo{src: "./images/Lufthansa2.png"}
				.price
					$199
			.booking-holder
				.booking-details
					%p Sun., Dec. 1, 2013
					%p ORD 5:30am > FLL 9:32am | 3h02m NONSTOP
				.booking-details
					%p Fri., Dec. 6, 2013
					%p FLL 5:30pm > ORD 7:40pm | 3h10m NONSTOP
			%a{href: "./flightreservation"}
				.select-link  
					SELECT FLIGHT
	%hr
	.listing
		.details
			.logo-container.flight-logo
				.company-name
					Lufthansa
				%img.logo{src: "./images/Lufthansa2.png"}
				.price
					$199
			.booking-holder
				.booking-details
					%p Sun., Dec. 1, 2013
					%p ORD 5:30am > FLL 9:32am | 3h02m NONSTOP
				.booking-details
					%p Fri., Dec. 6, 2013
					%p FLL 5:30pm > ORD 7:40pm | 3h10m NONSTOP
			%a{href: "./flightreservation"}
				.select-link  
					SELECT FLIGHT
	%hr