.breadcrumbs
	%hr
	%h2 HOTELS > SEARCH RESULTS 
	%h3 
		Sort by:
		%select{name: "filter"}
			%option{title: "sortby", value: "----"} ----
			%option{value: "room"} Room
			%option{value: "rate"} Rate
	%hr
.results
	.listing
		.details
			.logo-container.hotel-logo
				.company-name
					Sheraton
				%img.logo{src: "./images/Sheraton.png"}
				.price
					$69/night
			.booking-holder
				.booking-details
					%p Check-in: Sun., Dec. 1, 2013
					%p ORD 5:30am > FLL 9:32am | 3h02m NONSTOP
				.booking-details
					%p Check-out: Fri., Dec. 6, 2013
					%p FLL 5:30pm > ORD 7:40pm | 3h10m NONSTOP
			%a{href: "./hotelreservation"}
				.select-link  
					SELECT HOTEL
	%hr
	.listing
		.details
			.logo-container.hotel-logo
				.company-name
					Sheraton
				%img.logo{src: "./images/Sheraton.png"}
				.price
					$69/night
			.booking-holder
				.booking-details
					%p Check-in: Sun., Dec. 1, 2013
					%p ORD 5:30am > FLL 9:32am | 3h02m NONSTOP
				.booking-details
					%p Check-out: Fri., Dec. 6, 2013
					%p FLL 5:30pm > ORD 7:40pm | 3h10m NONSTOP
			%a{href: "./hotelreservation"}
				.select-link  
					SELECT HOTEL
	%hr
	